{{ define "content"}}
  <div class="container">
    <h1 class="topText">Mein Profil</h1>
    <h2 class="text">Hier kannst du deine Profildaten aktualisieren oder ändern.</h2>

    <div class="columns">
      <div class="column is-one-quarter">
        <div class="editColorTop minHeigth">
          <div class="has-text-centered">
            <img class="imgInvert" src="img/Icons/Mein-Profil.svg" width="90rem" height=auto>
          </div>
          <div class="has-text-centered">
            <a class="button lernenButton">
              <strong>Edit</strong>
            </a>
          </div>
          <h1 class="textBoldH1 has-text-centered">Max Mustermann</h1>
          <h1 class="textBold has-text-centered">mustermann@example.com</h1>
        </div>
        <div class="editColor">

          <div class="columns">
            <div class="column is-7">
              <h1 class="textBold">Statistik</h1>
            </div>
          </div>
          <div class="columns">
            <div class="column is-7">
              <h1 class="text">Erstellte Karten:</h1>
            </div>
            <div class="column is-half">
              <h1 class="textBold">24</h1>
            </div>
          </div>
          <div class="columns">
            <div class="column is-7">
              <h1 class="text">Erstellte Karteien:</h1>
            </div>
            <div class="column is-7">
              <h1 class="textBold">7</h1>
            </div>
          </div>
          <div class="columns">
            <div class="column is-7">
              <h1 class="text">Mitglied seit:</h1>
            </div>
            <div class="column is-7">
              <h1 class="textBold">24.12.2018</h1>
            </div>
          </div>
        </div>

      </div>
      <div class="column editColor">
        <h1 class="textBold">Update der Profildaten</h1>
        <br>
        <div class="columns is-gapless is-multiline">
          <div class="column is-one-quarter has-text-right regBezeichnung ">
            Neue E-Mail
          </div>
          <div class="column is-one-quarter">
            <input class="input is-primary" type="text" placeholder="maxmustermann">
          </div>
          <div class="column is-one-quarter thinRedBorder">
            Warning
          </div>
        </div>
        <div class="columns is-gapless is-multiline">
          <div class="column is-one-quarter has-text-right regBezeichnung">
            Altes Passwort
          </div>
          <div class="column is-one-quarter">
            <input class="input is-primary" type="password" placeholder="muster@example.de">
          </div>
          <div class="column is-one-quarter ">

          </div>
        </div>
        <div class="columns is-gapless is-multiline">
          <div class="column is-one-quarter has-text-right regBezeichnung">
            Neus Passwort
          </div>
          <div class="column is-one-quarter">
            <input class="input is-primary" type="password" placeholder="Passwort">
          </div>
          <div class="column is-one-quarter thinRedBorder">
            Warning
          </div>
        </div>
        <div class="columns is-gapless is-multiline">
          <div class="column is-one-quarter has-text-right regBezeichnung">
            Passwort wiederholen
          </div>
          <div class="column is-one-quarter">
            <input class="input is-primary" type="password" placeholder="Passwort">
          </div>
          <div class="column is-one-quarter ">

          </div>
        </div>

        <div class="columns is-gapless is-multiline">
          <div class="column is-one-quarter regBezeichnung ">

          </div>
          <div class="column is-one-quarter">
            <div class="buttons">
              <a class="button lernenButton">
                <strong>Speichern</strong>
              </a>
              <a class="button is-danger" style="border-radius: 0px" href="">
                <span class="icon">
                  <i class="fa fa-trash-o" style="font-size:24px"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="column is-one-quarter">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content editColor">
      <h1 class="title is-6">Löschen</h1>
      <p>Bist du sicher, dass du dein Profil löschen möchtest?</p>
      <br />
      <div class="has-text-centered">
        <button class="button is-success">Profil behalten</button>
        <button class="button is-danger">Profil löschen</button>
      </div>
    </div>
    <a class="modal-close is-large" href="/profil" aria-label="close"></a>
  </div>
{{ end }}
