{{ define "navbar"}}

  <li style="min-height: 6vh">
  </li>
  <li>
    <a href="/">
      <span class="icon"><img src="/img/Icons/Home.svg" aria-hidden="true"></span>
      <span class="sideMenu">Home</span>
    </a>
  </li>
  <li>
    <a href="/karteikaesten">
      <span class="icon"><img src="/img/Icons/Karteikasten.svg" aria-hidden="true"></span>
      <span class="sideMenu">Karteikarten</span>
      <span class="badge">22</span>
    </a>
  </li>

{{ end }}
