{{ define "navbar"}}

  <li style="min-height: 6vh">
  </li>
  <li class="thinWhiteBorder">
    <a href="/">
      <span class="icon"><img src="/img/Icons/Home.svg" aria-hidden="true"></span>
      <span class="sideMenu">Home</span>
    </a>
  </li>
  <li class="thinWhiteBorder">
    <a href="/karteikaesten">
      <span class="icon"><img src="/img/Icons/Karteikasten.svg" aria-hidden="true"></span>
      <span class="sideMenu">Karteikarten</span>
      <span class="badge">22</span>
    </a>
  </li>
  <li class="thinWhiteBorder">
    <a href="/meinekarteikarten">
      <span class="icon"><img src="/img/Icons/Meine-Karteien.svg" aria-hidden="true"></span>
      <span class="sideMenu">Meine Karteikästen</span>
      <span class="badge">2</span>
    </a>
  </li>
  <li class="thinWhiteBorder">
    <a href="/profil">
      <span class="icon"><img src="/img/Icons/Mein-Profil.svg" aria-hidden="true"></span>
      <span class="sideMenu">Mein Profil</span>
    </a>
  </li>

{{ end }}
