{{ define "content"}}
<div class="editColor distance">
  <p>
    <h1 class="has-text-centered topText"> Willkommen bei BrainTrain </h1>
    <br>
    <h2 class="has-text-centered editText"> Hier haben sich {{ .Nutzer}} Nutzer angemeldet und</h2>
    <h2 class="has-text-centered editText"> zusammen {{ .Lernkarten}} Lernkarten in {{ .Karteien}} Karteien</h2>
    <h2 class="has-text-centered editText"> erstellt.</h2>
  </p>
</div>
{{ end }}
