:root {
  --primGreen: #2ECC71;
  --secGreen: #27AE60;
  --primYellow: #FED330;
  --secYellow: #F7B731;
  --primRed: #E74C3C;
  --secRed: #C0392B;
  --primBlue: #34495E;
  --secBlue: #2C3E50;
  --primBC: #34495E;
  --primTC: #000000;
  --backgrey: #d3d3d3;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('../font/Roboto-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url('../font/Roboto-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../font/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('../font/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('../font/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../font/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('../font/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../font/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../font/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../font/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-ThinItalic';
  src: url('../font/Roboto-ThinItalic.ttf') format('truetype');
}

.navbar {
  display: flex;
}

.navbar-brand {
  background-color: var(--secGreen);
  color: var(--primTC);
  flex: 15%;
}

.navbar-menu {
  background-color: var(--primGreen);
  display: flex;
  flex: 85%;
}

.main-area {
  display: flex;
}

.navigation-area {
  align-items: flex-start;
  flex: 15%;
  background-color: var(--primBC);
  height: 100vh;
}

.content-area {
  flex: 85%;
}

.badge {
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 6px;
  margin-right: 20px;
  display: block;
  float: right;
  font-weight: normal;
  background-color: var(--primGreen);
  color: var(--primary-text-dark);
}

.profileName {
  color: white;
  font-family: Roboto-Bold;
}

.logout {
  font-family: Roboto-Regular;
  color: white;
  float: right;
}

.sideMenu {
  font-family: Roboto-Regular;
  color: white;
}

.brain {
  font-family: Roboto-Bold;
  color: white;
}

.train {
  font-family: Roboto-Regular;
  color: white;
}

.thinWhiteBorder {
  border-color: grey;
  border-width: 1px;
  border-style: solid;
}
.thinRedBorder {
  border-color: red;
  border-width: 1px;
  border-style: solid;
}
.thinBlackBorder {
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
.registrierenContentHeadline{
  font-family: Roboto-Bold;
  font-size: 50px;
}
.regBezeichnung{
  font-family: Roboto-Regular;
  color: black;
}
.messageHeadColor{
  background-color: var(--primGreen);
}
.messageTitel{
  font-family: Roboto-Bold;
  font-size: 20px;
}
.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.hex {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #6C6;
    position: relative;
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hexText{
  font-family: Roboto-Bold;
  font-size: 20px;
}
.kateikaestenKategorie{
  font-family: Roboto-Bold;
  font-size: 35px;
  margin-top: 15px;
}
.topText{
  font-family: Roboto-Bold;
  font-size: 45px;
}
.text{
  font-family: Roboto-Regular;
  font-size: 20px;
}
.textBold{
  font-family: Roboto-Bold;
  font-size: 20px;
}
.select:not(.is-multiple):not(.is-loading)::after {
border-color: black;
}
.editText{
  font-family: Roboto-Regular;
  font-size: 20px;
}
.distanceAndColor{
  border-top: 5px solid var(--primGreen);
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: white;
}
.editColor{
  border-top: 5px solid var(--primGreen);
  background-color: white;
  margin-top: 20px;
}
.backgroundContent{
  background-color: var(--backgrey);
}
.right{
  float: right;
}
.backWhite{
  background: white;
}
.editButton{
  margin-right:10px;
  margin-left: 10px;
  border-bottom: 5px solid var(--primGreen);
}
